* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}
/* tulisan judul */
.logo a {
    font-size: 60px;
    font-weight: 800;
    float: left;
    font-family: tahoma;
    color: #00f7d6;
}

.menu {
    float: right;
}
/* background atas */
nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #000000;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-weight:  bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a :hover{
    text-decoration: underline;
}

section {
    margin:auto;
    display: flex;;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 100px;
    margin-bottom: 50px;
}

.kolom .deskrisi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #ffa200;
}
/* butuh jasa media dll */
h2 {
    font-family: 'comic sans ms';
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 10px;
    color: #00f7d6;
    width: 100%;
    line-height: 50px;
}
/* background tulisan sign up */
a.tbl-biru {
    background: #00f7d6;
    border-radius: 30px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #ffffff;
    text-decoration: none;
}

a.tbl-pink {
    background: #00f7d6;
    border-radius: 30px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #000000;
    color: #ffffff;
    text-decoration: none;
}
p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah{
    text-align: center;
    width: 100%;
}

.team-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-team{
    width: 20%;
    margin: 0 auto;
}

.kartu-team img{
    width: 80%;
    border-radius: 50%;
}

.kartu-team p{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #00f7d6;
}

.patners-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-patners {
    width: 20%;
    margin: 0 auto;
}

.kartu-patners img {
    width: 150px;
    border-radius: 50%;
}